
.vs/sensors_term_project/FileContentIndex/b1ec91d4-c74e-42e9-9788-bca8652ee3ed.vsidx
.vs/sensors_term_project/FileContentIndex/8c8ce3fb-d884-4f61-a0fa-00ed34d45217.vsidx
*.ipch
.vs/sensors_term_project/v17/.suo
.vs/sensors_term_project/v17/Browse.VC.db
.vs/sensors_term_project/v17/Browse.VC.db-shm
.vs/term_project/v17/Solution.VC.db
.vs/term_project/v17/Browse.VC.db
.vs/sensors_term_project/v17/Solution.VC.db-wal
.vs/sensors_term_project/v17/Browse.VC.db-wal
.vs/sensors_term_project/v17/Browse.VC.opendb
*.db
.vs/term_project/v17/.suo
.vs/sensors_term_project/v17/Solution.VC.db-shm
